<ion-header>

  <ion-navbar>
    <ion-title>{{ item.instanceName }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
	<ion-list>
		<ion-item padding-left>
			<ion-label stacked>{{'NEW_METRIC_SOURCE' | translate}}</ion-label>
			<ion-select [(ngModel)]="metric" interface="popover">
				<ion-option *ngFor="let metric of item.instanceMetrics" [value]="metric.type" [selected]="metric.type==='network'" placeholder="Please select monitoring metric">{{metric.name}}</ion-option>
				<!-- <ion-option value="CPU Utilization">CPU Utilization (%)</ion-option>
				<ion-option value="Network Utilization" selected="true">Network Utilisation (Bytes/sec)</ion-option>
				<ion-option value="Disk Traffic">Disk Traffic (Bytes/sec)</ion-option> -->
			</ion-select>
		</ion-item>
		<ion-item no-padding>
			<div id="nwItemContainer" class="item-profile" text-center #profilePic >
			</div>
		</ion-item>
		<ion-item padding-left>
			<ion-grid>
				<ion-row>
					<button *ngIf="!isStarted" ion-button color="secondary" small (click)="start()" [disabled]="isTerminated">Start</button>
					<button *ngIf="isStarted" ion-button small (click)="stop()" [disabled]="isTerminated">Stop</button>
					<button ion-button color="primary" small (click)="restart()" [disabled]="isTerminated">Restart</button>				
					<button  ion-button color="danger" small (click)="terminate()" [disabled]="isTerminated">Terminate</button>
				</ion-row>
			</ion-grid>	
		</ion-item>
	</ion-list>	
	<ion-list>
		<ion-list-header>
			Instance Details
		</ion-list-header>
		<ion-item no-padding *ngFor="let d of item.instanceTabs" (click)="toggleDetails(d)">
			<ion-grid>
				<ion-row no-padding>
					<ion-col col-2 align-self-start>
						<ion-icon [name]="d.icon"></ion-icon>	    					
					</ion-col>
					<ion-col col-9 align-self-start>
						{{d.name}}
					</ion-col>
					<ion-col col-1 align-self-start>
						<ion-icon *ngIf="!d.showDetails" color="primary" name="ios-arrow-down" float-end></ion-icon>
						<ion-icon *ngIf="d.showDetails" color="primary" name="ios-arrow-up" float-end></ion-icon>
					</ion-col>
				</ion-row>
				<div *ngIf="d.showDetails">
					<ion-grid>
						<ion-row *ngFor="let key of JSObject.keys(d.details)" no-padding>
							<ion-col col-auto>
								<span text-capitalize>{{key}} :</span>
							</ion-col>
							<ion-col>
								<span>{{d.details[key]}}</span>
							</ion-col>
						</ion-row>
					</ion-grid>
				</div>
			</ion-grid>
		</ion-item>
		
	</ion-list>
</ion-content>